.container {
    width: 512px;
    height: 512px;
    border: 5px solid black;
    display: flex;
    margin: 16px auto;
    flex-wrap: wrap;
    
}

h1 {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.reset {
    display: block;
    margin: 4px auto;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
}

